.faq-section {
  @include media(desktop) {
  }
}

.faq-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/faq/faq-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 1440px;
    background-image: url(../img/faq/faq-bg-desk.png);
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-content-wrapper {
  @include media(desktop) {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #47505c;
  max-width: 227px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 20px;
    max-width: max-content;
    margin-bottom: 48px;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  z-index: 1;

  @include media(desktop) {
  }
}

.faq-list-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 640px;
  }
}

.faq-btn-text-wrapper {
  box-shadow: 4px 4px 8px 0 rgba(135, 129, 129, 0.12);
  background: #fff;
  border-radius: 16px;
  padding: 20px 24px;
  width: 100%;
  transition: background 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #1a2b3c;
  text-align: left;
  width: 100%;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
    font-size: 20px;
  }
}

.faq-toggle-symbol {
  border-radius: 16px;
  background: #fff;
  box-shadow: 4px 4px 8px 0 rgba(135, 129, 129, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  height: 70px;
  margin-left: auto;
  transition:
    transform 0.3s ease-in-out,
    background 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    font-size: 18px;
  }
}

.is-visible {
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(-180deg);
}

.faq-list-item.faq-open .faq-top-text-btn {
  align-items: start;
}

.faq-list-item.faq-open .faq-toggle-symbol {
  background: #042755;
}

.faq-list-item.faq-open .faq-btn-text-wrapper {
  background: #042755;
}

.faq-list-item.faq-open .faq-btn-text {
  color: #f08080;
}

.faq-list-item.faq-open .faq-bottom-text {
  margin-top: 24px;
}
