.hero-about-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 566px;
  padding-bottom: 24px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 316px;
    padding-bottom: 254px;
    max-width: 1440px;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #1a2b3c;
  margin-bottom: 10px;

  @include media(desktop) {
    font-size: 120px;
  }
}

.hero-subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.04;
  letter-spacing: 0.02em;
  text-align: center;
  color: #1a2b3c;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 62px;
  }
}

.hero-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #47505c;

  @include media(desktop) {
    font-size: 18px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
