.context-menu {
  background-image: url(../img/context/context-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: none;
  z-index: 5;
}

.context-container {
  padding: 0 32px;
}

.context-nav {
  display: flex;
  align-items: center;
  margin-top: 84px;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.context-list-link {
  padding: 8px 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &:active {
    color: #ba2028;
  }
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
