<section class="section benefits-section" id="benefits">
  <div class="benefits-bg-wrapper">
    <div class="container benefits-container">
      <div class="benefits-content-wrapper">
        <div class="benefits-text-wrapper">
          <h2 class="section-title benefits-title">Benefits</h2>
          <p class="benefits-subtitle">
            It'll definitely make you think through problems step by step. It's
            not a rush job — you can take your time and really think things
            through.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/benefits/benefits-img-desk.png"
            media="(min-width: 1440px)"
            width="640"
            height="182" />
          <source
            srcset="./img/benefits/benefits-img-mob.png"
            width="343"
            height="656" />
          <img
            class="benefits-img"
            src="./img/benefits/benefits-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="656"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
