<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <div class="contact-text-wrapper">
          <h2 class="section-title contact-title">Contact</h2>
          <a href="mailto:info@stonecurrent.site" class="contact-link">
            <span>info@stonecurrent.site</span>
            <svg class="contact-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-email"></use>
            </svg>
          </a>
        </div>
        <picture>
          <source
            srcset="./img/contact/contact-img-desk.png"
            media="(min-width: 1440px)"
            width="720"
            height="542" />
          <source
            srcset="./img/contact/contact-img-mob.png"
            width="343"
            height="258" />
          <img
            class="contact-img"
            src="./img/contact/contact-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="258"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
