<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <div class="contact-text-wrapper">
          <h2 class="section-title contact-title">Contact</h2>
          <p class="contact-subtitle">
            Have questions or want to share your journey? Our winds are always
            open for your message.
          </p>
          <a href="mailto:info@windvalley.online" class="contact-link">
            <span class="contact-link-email-span">info@windvalley.online</span>
            <span class="contact-link-text-span">Email us</span>
          </a>
        </div>
      </div>
    </div>
    <picture>
      <source
        srcset="./img/contact/contact-img-desk.png"
        media="(min-width: 1440px)"
        width="692"
        height="808" />
      <source
        srcset="./img/contact/contact-img-mob.png"
        width="161"
        height="240" />
      <img
        class="contact-img"
        src="./img/contact/contact-img-mob.png"
        alt="Screenshot of the game"
        width="161"
        height="240"
        loading="lazy"
    /></picture>
  </div>
</section>
