<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <div class="faq-content-wrapper">
        <h2 class="section-title faq-title">FAQ</h2>
        <ul class="faq-list">
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Is this a fast-paced game?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">No. It is methodical and strategic.</p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Is physics involved?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Flow behavior responds to channel structure.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Does difficulty increase?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes. New mechanics unlock progressively.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Is it suitable for casual players?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">Yes, with increasing challenge depth.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
