<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <h2 class="section-title features-title">Features</h2>
        <ul class="features-list">
          <li class="features-list-item">
            <svg class="features-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-features"></use>
            </svg>
            <p class="features-item-text">
              <span class="features-text-span"
                >Unique Group-Guidance Gameplay:</span
              > Master the mechanics of leading the flock as a single collective
              unit.
            </p>
          </li>
          <li class="features-list-item">
            <svg class="features-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-features"></use>
            </svg>
            <p class="features-item-text">
              <span class="features-text-span">Vast Open Sky Environments:</span
              > Explore endless valleys suspended high above the clouds.
            </p>
          </li>
          <li class="features-list-item">
            <svg class="features-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-features"></use>
            </svg>
            <p class="features-item-text">
              <span class="features-text-span"
                >Dynamic Airflow Puzzle Systems:</span
              > Interact with a living system of shifting wind currents.
            </p>
          </li>
          <li class="features-list-item">
            <svg class="features-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-features"></use>
            </svg>
            <p class="features-item-text">
              <span class="features-text-span"
                >Progressive Environmental Complexity:</span
              >
              New challenges that unfold step by step as you journey forward.
            </p>
          </li>
          <li class="features-list-item">
            <svg class="features-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-features"></use>
            </svg>
            <p class="features-item-text">
              <span class="features-text-span"
                >Calm, Contemplative Pacing:</span
              >
              Play at your own speed and savor every moment of the journey.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
