<section class="gallery-section section" id="gallery">
  <div class="gallery-bg-wrapper">
    <div class="container gallery-container">
      <div class="gallery-content-wrapper">
        <h2 class="section-title gallery-title">Visual</h2>
        <div class="gallery-swiper-container">
          <ul class="swiper-wrapper gallery-swiper-wrapper">
            <li class="swiper-slide gallery-slide">
              <picture>
                <source
                  srcset="./img/gallery/gallery-img1-desk.png"
                  media="(min-width: 1440px)"
                  width="304"
                  height="521" />
                <source
                  srcset="./img/gallery/gallery-img1-mob.png"
                  width="343"
                  height="480" />
                <img
                  class="gallery-img"
                  src="./img/gallery/gallery-img1-mob.png"
                  alt="Screenshot of the game"
                  width="343"
                  height="480"
                  loading="lazy"
              /></picture>
            </li>
            <li class="swiper-slide gallery-slide">
              <picture>
                <source
                  srcset="./img/gallery/gallery-img2-desk.png"
                  media="(min-width: 1440px)"
                  width="640"
                  height="522" />
                <source
                  srcset="./img/gallery/gallery-img2-mob.png"
                  width="343"
                  height="480" />
                <img
                  class="gallery-img"
                  src="./img/gallery/gallery-img2-mob.png"
                  alt="Screenshot of the game"
                  width="343"
                  height="480"
                  loading="lazy"
              /></picture>
            </li>
            <li class="swiper-slide gallery-slide">
              <picture>
                <source
                  srcset="./img/gallery/gallery-img3-desk.png"
                  media="(min-width: 1440px)"
                  width="304"
                  height="521" />
                <source
                  srcset="./img/gallery/gallery-img3-mob.png"
                  width="343"
                  height="480" />
                <img
                  class="gallery-img"
                  src="./img/gallery/gallery-img3-mob.png"
                  alt="Screenshot of the game"
                  width="343"
                  height="480"
                  loading="lazy"
              /></picture>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
