<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <div class="hero-top-wrapper">
            <h1 class="hero-main-title">
              Guide the current.<br />
              Shape the stone.
            </h1>
            <p class="hero-top-text">
              Control the flow of ancient power, guiding it through glowing
              stone channels
            </p>
          </div>
          <div class="hero-bottom-wrapper">
            <p class="hero-bottom-text">
              Earth-toned palette with soft glows on runes. Strong texture and
              depth emphasis. Calm but mysterious, guiding the player’s gaze
              along the energy paths.
            </p>
            <picture>
              <source
                srcset="./img/hero/hero-img-desk.png"
                media="(min-width: 1440px)"
                width="460"
                height="138" />
              <source
                srcset="./img/hero/hero-img-mob.png"
                width="343"
                height="138" />
              <img
                class="hero-img"
                src="./img/hero/hero-img-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="138"
            /></picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
