<div class="context-menu">
  <div class="container context-container">
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#about"
            >About the Game</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#gameplay"
            >How to Play</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#gallery">Visual</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#features">Features</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#uniqueness"
            >Uniqueness</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#benefits">Benefits</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#faq">FAQ</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
